.formSelectSummoner{
    background: linear-gradient(217deg, rgba(226, 145, 145, 0.8), rgba(226, 145, 145,0) 70.71%),
    linear-gradient(127deg, rgba(163, 240, 163, 0.8), rgba(163, 240, 163,0) 70.71%),
    linear-gradient(336deg, rgba(152, 152, 240, 0.8), rgba(152, 152, 240,0) 70.71%);
    border-radius: 8px;
    border: 1px solid rgba(102, 100, 100, .1);
}
.formControl, .formSelectSummoner{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}
.formControlRow, .formSelectSummonerRow{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    place-items: center;
    place-content: space-between;
}
:is(select[name="region"],select[name="language"]){
    padding: .5rem;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(94, 92, 92, 1);
}
select[name="region"]{
    width: 100px;
}
select[name="language"]{
    width: 140px;
    
}
input[name="summoner"]{
    padding: .5rem;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(94, 92, 92, 1);
}
button{
    background: rgb(137, 238, 179);
    font-weight: 900;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    padding: .5rem;
    color: rgba(94, 92, 92, 1);
}
:is(.formControl > strong, .formSelectSummoner > strong, .formControlRow > strong, .formSelectSummonerRow > strong){
    color: rgba(94, 92, 92, 1);
}