
@import url("./modern-normalize.css");
@import url("./root.css");
body{
    background: #333;
    color: #fff;
    font-family: var(--font-oxanium-extralight);
    font-size: .9rem;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--font-race-sport);
    margin: 0;
    padding: 1rem;
}
a{
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.mainTitle{
    text-align: center;
    font-size: 1.2rem;
}
.title{
    font-size: 1rem;
}
.subtitle{
    font-size: .8rem;
}

p{
    margin: 0;
    padding: 1rem;
 
}
.container{
    display: grid;
    min-width: 320px;
}

.outlet{
    max-width: 1280px;
    margin: 0 auto;
}
.containerButtons{
    display: flex;
    place-content: space-between;
    padding: 0 1rem;
}
.authentication{
    place-items: center;
    height: 100vh;
}
button{
    border: 1px solid var(--color-wins, #fff);
    border-radius: 4px;
    padding: .5rem 1rem;
    font-size: .8em;
    font-weight: 600;
}