:root{
    --font-race-sport: 'Race Sport';
    --font-oxanium-light: 'Oxanium Light';
    --font-oxanium-extralight: 'Oxanium ExtraLight';
    --font-oxanium-bold: 'Oxanium Bold';
    --font-oxanium-extrabold: 'Oxanium ExtraBold';
    --font-oxanium-semibold: 'Oxanium SemiBold';
    --font-oxanium-medium: 'Oxanium Medium';
    --font-oxanium-regular: 'Oxanium Regular';
}